html { background-color: #606060; }

body {
  display   : flex;
  margin    : 0;
  direction : rtl;
}
body > * { direction: ltr; }

body > div.doc:nth-child(2) > div.content {
  padding-right: 40;
}

div.content {
  min-width: 100px;
  max-width: 680px;
  margin   : auto;
  padding  : 0 40px 40px 40px;
  z-index  : 1;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  background-color: #FFFFFF;
}

div#rudoc { display: none; }

div.page {
  max-width: 100%;
  overflow: hidden;
  page-break-after: always;
  border: 1px solid #ccc;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  padding: 40px 40px 40px 40px;
  margin: 10px 0;

  background-color: #FFFFFF;
}

#title * {
  display: flex;
  justify-content: center;
}

a {
  color: inherit;
  text-decoration-color: rgba(0, 0, 0, 0.1);
  font-family: inherit;
}

a:hover { text-decoration-color: rgba(0, 0, 0, 0.2); }

p {  text-align: justify; }

h4 { font-style: italic; font-weight: normal; }

th {
  font-weight: normal;
  text-align: left;
  border-bottom: 1px solid black;
}

td, th { padding: 2px 10px; }

table {
  border-collapse: collapse;
  margin-left: 40px;
}

div { max-width:100%; overflow-x: auto; }

pre {
  margin-left: 50px;
  overflow-x: auto;
  font-size: 0.98em;
}

div.space {
  margin:0;
  padding:0;
}

div.doc {
  padding: 0;
  margin: auto;
  margin-top: 0;
  overflow-x: hidden;
}

div.doc > :first-child {
  position: relative; 
  left: 10px;
  top: 0px;
  color: #DDD;
  font-size: 0.9em;
}

#syntax ~ pre, #rsyntax ~ pre {
  margin-left: 25px;
  font-size: 0.9em;
}

p {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

div#rudoc p { hyphens: auto; }

details       > summary       { list-style: none; }
details       > summary:after { content: '+';  margin-left: 10px; opacity: 0.4; }
details[open] > summary:after { content: '-'; }

code {
  display: inline-block;
  font: inherit;
  white-space: nowrap;
}

*[title] {
  text-decoration: underline;
  text-decoration-color: rgba(0, 0, 0, 0.1);
}

a.self::before { content: attr(href); }

@media (max-width: 1360px) {
  .both > div.doc:nth-child(2) > div.content {
    padding-right: 0;
  }
  .both div.content { padding  : 0 20px 20px 20px; }
  .both pre {margin-left: 20px;}
  .both table {margin-left: 20px;}
}

@media (max-width: 600px) {
  div.content { padding  : 0 20px 20px 20px; }
  pre { margin-left: 30px; }
  table { margin-left: 30px; }
}
@media (max-width: 500px) {
  div.content { padding  : 0 10px 10px 10px; }
  pre, #syntax ~ pre { margin-left: 20px; }
  table { margin-left: 20px; }
}
@media (max-width: 400px) {
  div.content { padding: 0 5px 5px 5px;}
  body {margin: 0;}
  pre, #syntax ~ pre { margin-left: 10px; }
  table { margin-left: 10px; }
}
