html { background-color: #606060; }

div#content {
  min-width: 100px;
  max-width: 680px;
  margin   : auto;
  padding  : 0 40px 40px 40px;
  scroll   : auto;
  font-size: 1em;
  resize   : horizontal;
  z-index  : 1;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  background-color: #FFFFFF;

}

div.page {
  max-width: 100%;
  overflow: hidden;
  page-break-after: always;
  border: 1px solid #ccc;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  padding: 40px 40px 40px 40px;
  margin: 10px 0;
  overflow-y: auto;
  background-color: #FFFFFF;
}

#title * {
  display: flex;
  justify-content: center;
}

a {
  color: inherit;
  text-decoration-color: rgba(0, 0, 0, 0.1);
  font-family: inherit;
}

a:hover {
  text-decoration-color: rgba(0, 0, 0, 0.2);
}

p {
  text-align: justify;
}

h4 {
  font-style: italic;
  font-weight: normal;
}

th {
  font-weight: normal;
  text-align: left;
  border-bottom: 1px solid black;
}

table {
  border-collapse: collapse;
  margin-left: 40px;
}

div {
  max-width:100%;
  overflow-x: auto;
}

td, th {
  padding: 2px 10px;
}

pre {
  margin-left: 50px;
  overflow-x: auto;
  font-size: 0.9em;
}

body > label:first-child {
  position: absolute; 
  right:  10px;
  top  : 10px;
  color: #DDD;
  font-size: 0.8em;
}

div#content > pre:last-child,  div#content > .page:last-child > pre:last-child {
  margin-left: 30px;
}

details > summary {
  list-style: none;
}

details > summary:after {
  content: '+';
  margin-left: 10px;
  opacity: 0.4;
}

details[open] > summary:after {
  content: '-';
}

@media (max-width: 600px) {
  div#content { padding  : 0 20px 20px 20px; }
  pre { margin-left: 30px; }
  table { margin-left: 30px; }
}
@media (max-width: 500px) {
  div#content { padding  : 0 10px 10px 10px; }
  body {margin: 5px;}
  pre { margin-left: 20px; }
  table { margin-left: 20px; }
}
@media (max-width: 400px) {
  div#content { padding: 5px;}
  body {margin: 0;}
  pre { margin-left: 10px; }
  table { margin-left: 10px; }
}
